<link rel="stylesheet" type="text/css" href="../css/home.css"/>
<div class="row">    
    <div class="col" id="mapColumn">
        <nav class="navbar navbar-expand flex-md-row justify-content-start navbar-light bg-light">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#">My buckEATlist</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">My Restaurants</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Search</a></li>
                </ul>
            </div>
        </nav>
        <div id="map"><center>GOOGLE MAP GOES HERE</center></div>
    </div>
    <div class="col-md-4"id="listColumn">
        <h3>My buckEATlist</h3>
        {{#each restaurants}}
            
            <div class="restaurantContrainer row align-items-center">
                <span class="restName col">{{name}}</span>
                <button class="btn btn-success col-2" data-restID="{{zamatoId}}">Info</button>
                <button class="btn btn-success col-2" data-ID="{{id}}">Visited</button>
            </div>
            
        {{/each}}           
    </div>
</div>
<script src="../js/home.js"></script>
  