<link rel="stylesheet" type="text/css" href="../css/home.css"/>
<div class="row">    
    <div class="col" id="searchBody">
        <nav class="navbar navbar-expand flex-md-row justify-content-start navbar-light bg-light">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">My buckEATlist</a></li>
                    <li class="nav-item"><a class="nav-link" href="/noms-map">My Noms Map</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#">Search</a></li>
                </ul>
            </div>
        </nav>
        <form class="col-4" id="searchForm">
            <div class="form-group">
                <label for="location">Email Address</label>
                <input type="text" class="form-control" id="locationInput" placeholder="Toronto, ON">
            </div>            
            <button type="submit" class="btn btn-submit" id="btnSearchSubmit">Search</button>
        </form>
        <div id="results"></div>                  
    </div>
</div>
<script src="../js/search.js"></script>
  