<link rel="stylesheet" type="text/css" href="../css/home.css"/>
<div class="row">    
    <div class="col" id="mapColumn">
        <nav class="navbar navbar-expand flex-md-row justify-content-start navbar-light bg-light">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">My buckEATlist</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#">My Noms Map</a></li>
                    <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                </ul>
            </div>
        </nav>
        <div id="map"><center>GOOGLE MAP GOES HERE</center></div>
    </div>
    <div class="col-md-4"id="listColumn">
        <h3>My Noms Map</h3>
        {{#each restaurants}}
            
            <div class="restaurantContrainer row align-items-center">
                <span class="restName col">{{name}}</span>
                <button class="btn btn-success col-2" data-restID="{{zamatoId}}">Info</button>
                <button class="btn btn-success col-2" data-ID="{{id}}">Visited</button>
            </div>
            
        {{/each}}           
    </div>
</div>
<!-- restaurant info modal-->
<div id="restInfoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalAddtoList">Add to My buckEATlist</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjXmP2cdd3qe_9TnbZfMldDE7_K1MtPwk" defer></script>
<script src="../js/map.js" type="text/javascript" defer></script>
<script src="../js/visited.js" type="text/javascript" defer></script>
  