:root{
    --btn-color-submit: green;
    --bg-color-header: lightgrey;
    --txt-color-global: #3a3a3a;
}

.row{
    margin:0;
}
body {
    color: var(--txt-color-global);
}

a{
    color:unset;
}
a:visited{
    color:unset;
}
header.main{
    padding: 10px 0 20px 0;
    background-color: var(--bg-color-header);
    border-bottom: 3px solid gold;
    text-align: center; 
    /* margin-bottom:20px; */
}
.btn.btn-submit{
    background-color: var(--btn-color-submit);
    color: white;
}
header logo{
    padding-left: 20px;
}
header .profile{
    padding-right: 10px;
}
#alert{
    display:none;
    white-space:pre-line;
    color:red;
}
#listColumn{
    padding-right:0;
}
#restList{      
    overflow-y: auto;   
}
#mapColumn{
    padding:0;
}

.restaurantContrainer{
    margin-bottom: 5px;
    border: 2px solid rgb(206, 206, 206);
    border-radius: 5px;
    padding: 10px 0 10px 20px;    
}
.restaurantContrainer:hover{
    border-color: green;
    cursor: pointer;
}

.restName{
    text-align:left;
    margin-right:20px;
    padding-left:0;
    overflow-x: hidden;
}
.restaurantContrainer button{
    margin-right: 15px;
}

.navbar-nav:first-child{
    border-left: 1px solid lightgrey;
}
.nav-item{
    border-right: 1px solid lightgrey;
}