:root{
    --btn-color-submit: green;
    --bg-color-header: #7a3232;
    --txt-color-global: #3a3a3a;
}

.row{
    margin:0;
}
body {
    color: var(--txt-color-global);
    display: block;
    background-color: #fffff2;
}

a{
    color:unset;
    text-decoration: underline;
}
a:visited{
    color:unset;
}
header.main{
    width: 100%;
    z-index: 10;
    background-color: var(--bg-color-header);
    color: #ffeb9e;
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 #0000001f;
    letter-spacing: 2px;
    text-shadow: 1px 1px #ff8c8c;
    text-align: justify;
}
.btn.btn-submit{
    background-color: var(--btn-color-submit);
    color: white;
}
.d-flex {
    margin-top: 10px;
}
.btn.btn-success{
    background-color: #6e8b3d;
    border: #6e8b3d;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 #0000001f;
}
/* .btn.btn-success.checkoff{
    background-color: #6e8b3d;
    border: #6e8b3d;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 #0000001f;
} */
​
.btn.btn-danger.remove{
    background-color: #8a3c3c;
    border: #8a3c3c;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 #0000001f;
}
​
header logo{
    padding-left: 20px;
}
header .profile{
    padding-right: 10px;
}

.container {
    margin-top: 40px;
    display: block;
    padding: 0 55px;
    margin-bottom: 100px;
    text-align: justify;
    background-color: white;
    box-shadow: 0 2px 5px 0 #7a3232, 0 2px 10px 0 #7a3232;
    border-radius: 25px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

label.alert{
    display:none;
    white-space:pre-line;
    color:red;
}
#listColumn{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 #7a3232, 0 2px 10px 0 #7a3232;
    margin-right: 20px;
    margin-left: 20px;
}
#restList{      
    overflow-y: auto;   
}
#mapColumn{
    margin-top: 5px;
    background-color: white;
    padding:0;
    box-shadow: 0 2px 5px 0 #7a3232, 0 2px 10px 0 #7a3232;
}

.restaurantContainer{
    margin-bottom: 5px;
    border: 1px solid rgb(206, 206, 206);
    padding: 10px 0 10px 20px;  
    box-shadow: 0 2px 5px 0 rgb(206, 206, 206), 0 2px 10px 0 rgb(206, 206, 206);
    border-radius: 25px;  
}
.restaurantContainer:hover{
    border-color: green;
    cursor: pointer;
}

.restName{
    text-align:left;
    margin-right:20px;
    padding-left:0;    
}
.restaurantContainer button{
    margin-right: 15px;
}

.navbar-nav:first-child{
    border-left: 1px solid lightgrey;
}
.nav-item{
    border-right: 1px solid lightgrey;
}

#results{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #fffff2;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 #fffff2, 0 2px 10px 0 #fffff2;
    margin-right: 20px;
}
​
#searchForm {
    margin-top: 25px;
}
​
.navbar.navbar-expand.flex-md-row.justify-content-start.navbar-light.bg-light {
    box-shadow: 0 2px 5px 0 lightgrey, 0 2px 10px 0 #7a3232;
    width: 100%;
}