<!DOCTYPE html>
<html lang="en">
    <head>
        <script  src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../../css/main.css">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymouse"/>
        <link href="https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap" rel="stylesheet">
        <title>{{title}}</title>
        <meta charset="UTF-8"> 	
	</head>
	<body>
        <header id="navbar" class="navbar navbar-expand flex-column flex-md-row main justify-content-between">
            <logo class="">
               <a href="/home"><img src="" alt="buckEATlist"></a>
            </logo>
            <h2 class="">Welcome to buckEATlist</h2>
            <div class="" id="profile">
                <div class="nav-item dropdown show">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{username}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>                
            </div>
        </header>
		{{{ body }}}         
	</body>
</html>