 <h3>Search Results</h3>
{{#each results as |restaurant|}}            
    <div class="restaurantContrainer row align-items-center">
        <span class="restName">{{restaurant.name}}</span>           
        <button class="addToList" data-restaurant="{{stringify restaurant}}" data-yelpid="{{restaurnt.id}}"><i class="fas fa-plus"></i></button>            
    </div> 
    {{else}}
    <span>0 results found</span>  
{{/each}}
<script>
    $(".addToList").on('click', function(event){
        let restaurant = $(event.currentTarget).data("restaurant");
    });
</script>