 <h3 visible="false">Search Results</h3>
{{#if results}}
    {{#each results}}            
        <div class="restaurantContrainer row align-items-center">
            <span class="restName col">{{name}}</span>
            <span class=""></span>
        </div>            
    {{/each}}
{{else}}
    <span>0 results found</span>  
{{/if}}